/BlueCode_HumanCapital/nbproject/private/
/BlueCode_HumanCapital/build/
/BlueCode_HumanCapital/dist/

/BlueCode_HumanCapital/nbproject/project.properties
/BlueCode_HumanCapital/nbproject/genfiles.properties