<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CandidatosIndexServlet</servlet-name>
        <servlet-class>business.CandidatosIndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidatosDetallesServlet</servlet-name>
        <servlet-class>business.CandidatosDetallesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidatosEliminarServlet</servlet-name>
        <servlet-class>business.CandidatosEliminarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCandidatoServlet</servlet-name>
        <servlet-class>business.CrearCandidatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadosServlet</servlet-name>
        <servlet-class>business.EmpleadosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntrevistasServlet</servlet-name>
        <servlet-class>business.EntrevistasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>business.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteServlet</servlet-name>
        <servlet-class>business.ReporteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>business.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CandidatosIndexServlet</servlet-name>
        <url-pattern>/CandidatosIndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidatosDetallesServlet</servlet-name>
        <url-pattern>/CandidatosDetallesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidatosEliminarServlet</servlet-name>
        <url-pattern>/CandidatosEliminarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCandidatoServlet</servlet-name>
        <url-pattern>/CrearCandidatoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadosServlet</servlet-name>
        <url-pattern>/EmpleadosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntrevistasServlet</servlet-name>
        <url-pattern>/EntrevistasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteServlet</servlet-name>
        <url-pattern>/ReporteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
